/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  border-radius: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0e2238;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #314153;
}

#main {
  max-height: 100vh;
  overflow-y: scroll;
}

::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.sidebar {
  background-color: #FFFFFF;
}

li {
  list-style: none;
}

h1 {
  font-weight: 600;
  font-size: 1.5rem;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #F1F5F6;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the body takes up the full viewport height */
}

.wrapper {
  display: flex;
}

.main {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
  background-color: #fafbfe;
}

#main {
  margin-top: 56px; /* Pushes the content down by the height of the navbar */
  padding: 20px; /* Optional: Add some padding for extra spacing inside the content */
  overflow: hidden;
  margin-bottom: 60px; /* Ensures space between content and footer */
}



.container-fluid {
  flex: 1; /* Allow the content to take up remaining space */
}


footer {
  padding: 20px;
  background-color: #f1f1f1;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}


.sidebar-logo {
  margin: auto 0;
}

.offcanvas-link {
  color: #0e2238;
  border: #0e2238 1px solid;
  display: block;
}

.sidebar-logo a {
  color: #fff;
  font-size: 1.15rem;
  font-weight: 600;
}

.page-title {
  font-weight: 900;
  color: #0e2238;
}

.sidebar-nav {
  padding: 2rem 0;
  flex: 1 1 auto;
}

a.sidebar-link {
  padding: 0.625rem 1.625rem;
  color: #585A58;
  display: block;
  font-size: 1rem;
  white-space: nowrap;
  border-left: 3px solid transparent;
}

.sidebar-link i {
  font-size: 1.1rem;
  margin-right: 0.75rem;
}

a.sidebar-link:hover {
  background-color: rgba(255, 255, 255, 0.075);
  border-left: 3px solid #3b7ddd;
}

.active {
  background-color: rgba(255, 255, 255, 0.075);
  border-left: 3px solid #3b7ddd;
}

.sidebar-item {
  position: relative;
}

.btn-primary {
  color: #fff;
  background-color: #0e2238;
  border-color: #0e2238;
}

.btn-primary:hover {
  color: #fff;
  background-color: #314153;
  border-color: #0e2238;
}

.autoResizeTextarea {
  overflow-y: hidden;
  /* Hides vertical scroll bars */
}

.whiteBG {
  background-color: transparent !important;
  border: transparent;
  resize: none;
}

.main {
  max-height: 100vh;
  width: 100%;
  overflow-y: scroll;
  transition: all 0.35s ease-in-out;
  background-color: #fafbfe;
}

.btn-outline-success {
  color: #fff;
  background-color: #0e2238;
  border-color: #0e2238;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #314153;
  border-color: #0e2238;
}

.navbar {
  position: fixed; /* Makes the topbar fixed at the top of the page */
  top: 0;
  left: 0;
  width: 100%; /* Ensures the navbar stretches across the entire width */
  z-index: 1000; /* Ensures the navbar stays on top of other elements like the sidebar */
}

.sidebar {
  position: relative; /* Default position for the sidebar */
  margin-top: 56px; /* Adjust this based on the height of the navbar */
  z-index: 1; /* Keeps it behind the navbar */
}
