.drag-and-drop {
  border: 2px dashed #ccc;
  border-radius: 10px;
  padding: 5px;
  padding-top: 20px;
  text-align: center;
  color: #aaa;
  transition: border-color 0.3s, color 0.3s;
  max-height: 300px;
  overflow-y: scroll;
}
.drag-and-drop.dragover {
  border-color: #333;
  color: #333;
}
.file-card {
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 3px;
  background-color: #f9f9f9;
}
.file-card button {
  background: none;
  border: none;
  color: #f00;
  font-size: 1rem;
  margin-left: 5px;
}

#main {
  max-height: 100vh;
  overflow-y: scroll;
  position: relative;
}

.multiple {
  max-width: max-content;
  border-radius: 5px;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
}

progress::-webkit-progress-value {
  background-color: #0e2238 !important;
}
#file {
  display: block;
  width: 100%;
  height: 30px;
  background-color: #0e2238;
  border-radius: 5px;
}
#percentage {
  color: white;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

body, html {
  height: 100%;
  margin: 0;
  scroll-padding: 150px;
  overflow-y: auto; /* Allow body to scroll */
  background-color: #F1F5F6;
}